
@{ XHB.Card.Entity.CardSecretEntityExt Mo = ViewBag.Data as XHB.Card.Entity.CardSecretEntityExt;}
@if (Mo.CardSecretEntity !=null && Mo.CardSecretEntity.Count > 0)
{
    foreach (var item in Mo.CardSecretEntity)
    {
        <div class="row">
            <div class="col-xs-1 ">
                @item.Id
            </div>
            <div class="col-xs-1">
                <span>@item.CardId</span>
            </div>
            <div class="col-xs-1">
                <span>@item.CardSecret</span>
            </div>
            @if (item.IsUsed)
            {
                <div class="col-xs-1">
                    是
                </div>
            }
            else
            {
                <div class="col-xs-1">
                    否
                </div>
            }
            <div class="col-xs-1">
                @item.UsedBy
            </div>
            @if (item.SaleStatus == 1)
            {
                <div class="col-xs-1">
                    待出售
                </div>
            }
            else if (item.SaleStatus == 2)
            {
                <div class="col-xs-1">
                    出售中
                </div>
            }
            else
            {
                <div class="col-xs-1">
                    已出售
                </div>
            }
            <div class="col-xs-1">
                @Mo.ActTypeEntity.Where(p => p.Id == item.ActId).FirstOrDefault().TypeName
            </div>
            <div class="col-xs-2">
                @item.Memo
            </div>
            <div class="col-xs-2">
                @item.CreateTime.ToString("yyyy-MM-dd")
            </div>
            <div class="col-xs-1">
                <button class="btn btn-success btn-xs" data-id="@item.Id" data-toggle="modal" data-target="#changeChar">查看</button>
                <button class="btn btn-danger btn-xs" data-id="@item.Id" data-toggle="modal" data-target="#deleteChar">删除</button>
            </div>
        </div>
    }
}
else
{

}